header{
    text-align: center;
}
.clear{
    clear: both;
}
body{
    background-image: url(img/10951132-medieval-background.jpg);
    background-attachment: fixed;
}
.border{
    border: 75px;
}
.clear{
    clear: both;
}
main{
    margin-left: 150px;
    margin-right: 150px;
    padding: 50px;
}